<!doctype html>
<head>
    <title>Hikima - Speech Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <style>
      .gradient {
        background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
      }
    </style>
</head>
<html>
   <body>

    <!--Nav-->
    <nav id="header" class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
        <div class="pl-4 flex items-center">
          <a class="toggleColour text-black no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="">
            <!--Icon from: http://www.potlabicons.com/ 
            <svg class="h-8 fill-current inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.005 512.005">
              <rect fill="#2a2a31" x="16.539" y="425.626" width="479.767" height="50.502" transform="matrix(1,0,0,1,0,0)" />
              
            </svg>
          -->
            Hikima
          </a>
        </div>
        <div class="block lg:hidden pr-4">
          <button id="nav-toggle" class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
          <ul class="list-reset lg:flex justify-end flex-1 items-center">
            <li class="mr-3">
              <a class="inline-block py-2 px-4 text-black font-bold no-underline" href="">Speech</a>
            </li>
            <li class="mr-3">
              <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="#">Music</a>
            </li>
            <li class="mr-3">
              <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="#">Translation</a>
            </li>
            <li class="mr-3">
              <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="#">Developer</a>
            </li>
            <li class="mr-3">
              <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="/logout">Sign Out</a>
            </li>
          </ul>
          <!--
          <button
            id="navAction"
            class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          >
            Sign In
          </button>
        -->
        </div>
      </div>
      <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
    </nav>

     <main>
   
        <div class="px-4 py-3 my-2 text-center">
<!--
            <img src="{{ url_for('static', filename='images/hero.png') }}" alt="Azure Logo" width="400" height="350""/>
-->

<p class="fs-5">Create a Speech from Document</p>

<!--<label for="tx-area" class="form-label fw-bold fs-5">Enter your text:</label>-->
            <form method="post" enctype="multipart/form-data" action="/inferencex">
<!-- Scale factor -->
<div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
	<p class="fs-5">Scale Factor</p> <input type="range" name="durationx" label="Duration Scale" min="0" max="10" value="5" step="1">
	<p class="fs-5">Pause Duration</p> <input type="range" name="pausex" label="Pause Duration" min="0" max="10" value="5" step="1">
	<p class="fs-5">Pitch Variance</p> <input type="range" name="pitchx" label="Pitch Variance" min="0" max="10" value="5" step="1">
	<p class="fs-5">Energy Variance</p> <input type="range" name="energyx" label="Energy Variance" min="0" max="10" value="5" step="1">
</div>
            <select id="tagd" class="form-control" name="tagd">
              <option value="p">Select Your Language</option>
              <option value="ha">Hausa</option>
              <option value="sw">Swahili</option>
              <option value="yo">Yoruba (unavailable)</option>
              <option value="lg">Lingala (unavailable)</option>
              <option value="ig">Igbo (unavailable)</option>
              <option value="ff">Fulfulde (unavailable)</option>
              <!-- Add more options here as needed -->
            </select>
	<div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
        <p class="fs-5">Document</p> <input type="file" class="form-control" name="docfile" accept=".txt, .pdf, .doc, .docx">
	<p class="fs-5">Prosody</p> <input type="file" class="form-control" name="wavfilex" accept=".wav, .mp3">
	<p class="fs-5"> </p>
	<input type="submit" class="btn btn-primary btn-lg px-4 gap-3" value="Generate Speech">
</div>
    </form>
    
    <p class="fs-6 text-primary">{{ message }}</p>

    {% if audio_visible %}
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
    <audio controls>
        <source src="{{ audio_file }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
   </div>
   {% endif %}

	<p class="fs-5"> </p>
            <p class="fs-5">Create a Speech from Text Box</p>

            <!--<label for="tx-area" class="form-label fw-bold fs-5">Enter your text:</label>-->
            <form method="post" action="{{url_for('inference')}}">
            <select id="tag" class="form-control" name="tag">
              <option value="p">Select Your Language</option>
              <option value="ha">Hausa</option>
              <option value="sw">Swahili</option>
              <option value="yo">Yoruba (unavailable)</option>
              <option value="lg">Lingala (unavailable)</option>
              <option value="ig">Igbo (unavailable)</option>
              <option value="ff">Fulfulde (unavailable)</option>
              <!-- Add more options here as needed -->
            </select>

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
              <textarea id="syn" class="form-control" name="syn" rows="5" cols="50" placeholder="Write what you want the system to read in your selected langauge. Please make use of punctuations where necessary..."></textarea>
            </div>

<div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
	<p class="fs-5">Prosody</p> <input type="file" class="form-control" name="wavfile" accept=".wav, .mp3">
</div>

<p class="fs-5"> </p>

<!-- Scale factor -->
<div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
	<p class="fs-5">Scale Factor</p> <input type="range" name="duration" label="Duration Scale" min="0" max="10" value="5" step="1">
	<p class="fs-5">Pause Duration</p> <input type="range" name="pause" label="Pause Duration" min="0" max="10" value="5" step="1">
	<p class="fs-5">Pitch Variance</p> <input type="range" name="pitch" label="Pitch Variance" min="0" max="10" value="5" step="1">
	<p class="fs-5">Energy Variance</p> <input type="range" name="energy" label="Energy Variance" min="0" max="10" value="5" step="1">
</div>
          
            <!--<img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <!--<h1 class="display-6 fw-bold">Hello {{name}}</h1>-->
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Generate Speech</button>
            </div>
          </div>
        </form>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
    <p class="fs-5">Listen to Hausa Demo: </p>
    <audio controls>
        <source src="static/demo/hausai_base.wav" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <p class="fs-5"> </p>
    <p class="fs-5">Listen to Swahili Demo: </p>
    <audio controls>
        <source src="static/demo/swahili_base.wav" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <!--<a class="btn btn-primary btn-lg px-4 gap-3" href="/logout">Logout</a>-->
   </div>

   <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
   <p class="fs-5"> </p>
   <p class="fs-6 text-primary">&copy; 2023 Hikima Research Lab</p>
   <p class="fs-5"> </p>
   </div>

     </main> 
     
     <script>
      /*Toggle dropdown list*/
      /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

      var navMenuDiv = document.getElementById("nav-content");
      var navMenu = document.getElementById("nav-toggle");

      document.onclick = check;
      function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //Nav Menu
        if (!checkParent(target, navMenuDiv)) {
          // click NOT on the menu
          if (checkParent(target, navMenu)) {
            // click on the link
            if (navMenuDiv.classList.contains("hidden")) {
              navMenuDiv.classList.remove("hidden");
            } else {
              navMenuDiv.classList.add("hidden");
            }
          } else {
            // click both outside link and outside menu, hide menu
            navMenuDiv.classList.add("hidden");
          }
        }
      }
      function checkParent(t, elm) {
        while (t.parentNode) {
          if (t == elm) {
            return true;
          }
          t = t.parentNode;
        }
        return false;
      }
    </script>
     
   </body>
</html>
